*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
body{
       background-color: white;
       margin-top:20px ;
       overflow: auto;
}
/* .container{

} */
.header{
       position: relative;
       top: 0px;
       background-color: pink;
       color: aliceblue;
       text-align: center;
       padding: 20px;
       z-index: 1;
       border: 2px inset black;
}


.navigation{
       position: relative;
       background-color: pink;
       margin-top: 5px;
       padding: 15px;
       text-align: center;
       border: 1px solid black;
       border-radius: 5px;
       text-justify: distribute;
       font-size: 16px;
       justify-content: space-around; 
       display: flex;
}



.main{
       display: flex;
       margin-top: 5px;
       justify-content: space-between;
       gap: 2px;
       padding: 5px;
       height: 40vh;
       border-radius: 5px;  
}

p{
       align-items: center;
       justify-content: center;
       display: flex;
       padding: 60px;

}

.contentkiri{
       justify-content: center;
       text-align: center;
       border: 1px solid black;
       width:29%; 
       background-color: pink;
}
.contenttengah{
       text-align: center;
       border: 1px solid black;
       width: 46%;
       background-color: pink;
}

.contentkanan{
       text-align: center;
       border: 1px solid black;
       width: 29%;
       background-color: pink;
}

.footer{
       
       position: relative;
       top: 0px;
       background-color: pink;
       color: aliceblue;
       text-align: center;
       padding: 40px;
       z-index: 1;
       border: 2px solid black;
}
