body{
       background-color: aquamarine;
}
h3{
       color: brown;
       font-family: 'Courier New', Courier, monospace;
       text-align: justify;

}
h1{
       color: blue;
       font-size: large;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-style: bold;
}
ul, li{
       text-decoration: dashed;
       list-style: none;
}
th{
       list-style: none;
}

table{
       border: 1px solid rgb(128, 0, 0);
       padding: inherit;
       margin: auto;
}
tr{
       margin: auto;
       border: 3px solid red;
}
tr:hover{
       background-color: rgb(87, 87, 123);
       color: yellow;
       font-size: small;
       font-weight: bold;
       font-family: sans-serif;

}
#paragrapf{
       text-align: center;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       padding: 10;
       color: firebrick;
       
}